<footer class=" footer">
  <div class=" container-fluid">
    <!--<ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com?ref=bda-footer">
          Creative Tim
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.creative-tim.com/about-us?ref=bda-footer">
          About Us
        </a>
      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="http://blog.creative-tim.com?ref=bda-footer"> Blog </a>
      </li>
    </ul>-->
    <div class=" copyright">
      <small class="copyright">© Copyright 2021. Designed with <i class="fas fa-heart"></i> by <a href="https://yiado.cl/" target="_blank">Yiado</a>, developers team.</small>
    </div>
  </div>
</footer>
