.main-panel {
  &, &[data="blue"]{
    border-color: $info;
  }

  .content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px);
  }
}
@media screen and (max-width: 768px){
  .main-panel .content {
      padding-left: 15px;
      padding-right: 15px;
  }
}
.logo-img{
  width: 185px;
  height: 185px;
  display: block;
  //margin-left: 2px;
  position: absolute;
  top: 12px;
    img{
        width: 185px;
        height: 185px;
    }
}

.logo-img-yiado{
  width: 35px;
  height: 35px;
  display: block;
  margin-left: 2px;
  position: absolute;
  top: 12px;
    img{
        width: 45px;
        height: 45px;
    }
}

.logo-team-pro {
    //padding: 0.5rem 1.3rem;
    z-index: 4;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.sidebar, .off-canvas-sidebar{
  &, &[data="blue"]{
    @include linear-gradient($info-states, $info);
  }
  &[data="primary"]{
    @include linear-gradient($primary-states, $primary);
  }
}
@media screen and (max-width: 991px){
  .main-panel {
      .content {
      padding-left: 30px !important;
    }
  }
  .fixed-plugin .dropdown-toggle:after{
    display: none;
  }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #fff;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: #27293e;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
