.main-panel {
  &, &[data="blue"]{
    border-color: $info;
  }

  .content {
    padding: 78px 30px 30px 280px;
    min-height: calc(100vh - 70px);
  }
}
@media screen and (max-width: 768px){
  .main-panel .content {
      padding-left: 15px;
      padding-right: 15px;
  }
}
.logo-img{
  width: 185px;
  height: 185px;
  display: block;
  //margin-left: 2px;
  position: absolute;
  top: 12px;
    img{
        width: 185px;
        height: 185px;
    }
}

.logo-img-yiado{
  width: 35px;
  height: 35px;
  display: block;
  margin-left: 2px;
  position: absolute;
  top: 12px;
    img{
        width: 45px;
        height: 45px;
    }
}

.logo-team-pro {
    //padding: 0.5rem 1.3rem;
    z-index: 4;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}

.sidebar, .off-canvas-sidebar{
  &, &[data="blue"]{
    @include linear-gradient($info-states, $info);
  }
  &[data="primary"]{
    @include linear-gradient($primary-states, $primary);
  }
}
@media screen and (max-width: 991px){
  .main-panel {
      .content {
      padding-left: 30px !important;
    }
  }
  .fixed-plugin .dropdown-toggle:after{
    display: none;
  }
}
