<div class=" content">
  <div class=" row">
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title"><b> Condiciones. </b></h4>
        </div>
        <div class=" card-body">
          <!--<ngb-alert [type]="'info'" [dismissible]="false">
            <span> This is a plain notification </span>
          </ngb-alert>
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span> This is a notification with close button. </span>
          </ngb-alert>
          <ngb-alert
            class=" alert-with-icon"
            data-notify="container"
            [type]="'info'"*ngIf="!staticAlertClosed1" [dismissible]="false">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed1 = true">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            <span class=" tim-icons icon-bell-55" data-notify="icon">
            </span>
            <span data-notify="message">
              This is a notification with close button and icon.
            </span>
          </ngb-alert>-->
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
            </button>
            <span align="justify">
              <b>1.</b> Actualmente se encuentra estipulada la premiación de 5 paticipante.
            </span>
          </ngb-alert>
          <ngb-alert [type]="'success'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
            </button>
            <span align="justify">
              <b>2.</b> Matemáticamente se establece que por cada 4 participantes se establece un puesto de premiado con un tope de 5 participantes premiados.
            </span>
          </ngb-alert>
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
            </button>
            <span align="justify">
              <b>3.</b> Los premios son calculados como se describen a continueción en base a los siguientes porcentajes del monto total.
              <div class=" typography-line">
                <br>
                <div class=" row">
                  <div class=" col-md-3">
                    <ul>
                      <li>1º -  45%</li>
                      <li>2º -  25%</li>
                      <li>3º -  15%</li>
                      <li>4º -  10%</li>
                      <li>5º -  5%</li>
                    </ul>
                  </div>
                </div>
              </div>
            </span>
          </ngb-alert>
          <ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
            </button>
            <span align="justify">
              <b>4.</b> En el caso de que en proximas competiciones la cantidad de participantes sea menor a la de actual, los % seran ajustados 
              en partes partes iguales tomando en consideración lo descripto en el punto 2.
            </span>
          </ngb-alert>
        </div>
      </div>
    </div>
    <div class=" col-md-6">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title"><b>Información y Bases Teoricas para Calculo de Rankign Historico.</b></h4>
        </div>
        <div class=" card-body">
          <!--<ngb-alert [type]="'primary'" *ngIf="!staticAlertClosed3" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed3 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Primary - </b> This is a regular notification made
              with ".alert-primary"
            </span>
          </ngb-alert>-->
          <ngb-alert [type]="'info'" *ngIf="!staticAlertClosed4" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed4 = true">
            </button>
            <br>
            <span align="justify">
              La clasificación histórica del Fantasy Football TeamPro fue desarrollada por <a href="https://yiado.cl/" target="_blank"> Yiado.cl</a><br><br> 
              La sumatoria de puntos esta definida por la cantidad de puntos conseguidos por cada jugador participante, 
              independientemente de la cantidad de titulos obtenidos y la cantidad de 
              participaciones por jugador, dejando estipulado que el ranking historico es un reflejo del seguimiento de 
              la regularidad de cada jugador, posteriormente entregaremos mayores estadisticas que describan otros escenarios.<br><br>
              El calculo se tomo en base a las condiciones que establecen las principales ligas de futbol.
              <div class=" typography-line">
                <br>
                <div class=" row">
                  <div class=" col-md-3">
                    <ul>
                      <li><a href="https://es.wikipedia.org/wiki/Anexo:Clasificaci%C3%B3n_hist%C3%B3rica_de_la_Premier_League" target="_blank">Premier</a></li>
                      <li><a href="https://es.wikipedia.org/wiki/Anexo:Clasificaci%C3%B3n_hist%C3%B3rica_de_la_Primera_Divisi%C3%B3n_de_Espa%C3%B1a" target="_blank">Liga</a></li>
                      <li><a href="https://es.wikipedia.org/wiki/Anexo:Clasificaci%C3%B3n_hist%C3%B3rica_de_la_Serie_A_(Italia)" target="_blank">Seria A</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </span>

          </ngb-alert>
          <!--<ngb-alert [type]="'success'" *ngIf="!staticAlertClosed5" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed5 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Success - </b> This is a regular notification made
              with ".alert-success"
            </span>
          </ngb-alert>-->
          <!--<ngb-alert [type]="'warning'" *ngIf="!staticAlertClosed6" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed6 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Warning - </b> This is a regular notification made
              with ".alert-warning"
            </span>
          </ngb-alert>-->
          <!--<ngb-alert [type]="'danger'" *ngIf="!staticAlertClosed7" [dismissible]="false">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" (click)="staticAlertClosed7 = true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <span>
              <b> Danger - </b> This is a regular notification made with
              ".alert-danger"
            </span>
          </ngb-alert>-->
        </div>
      </div>
    </div>
    <!--<div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div class=" places-buttons">
            <div class=" row">
              <div class=" col-md-6 ml-auto mr-auto text-center">
                <h4 class=" card-title">Notifications Places</h4>
                <p class=" category">Click to view notifications</p>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'left')"
                    >
                      Top Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'center')"
                    >
                      Top Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('top', 'right')"
                    >
                      Top Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-lg-8 ml-auto mr-auto">
                <div class=" row">
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'left')"
                    >
                      Bottom Left
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="
                        showNotification('bottom', 'center')
                      "
                    >
                      Bottom Center
                    </button>
                  </div>
                  <div class=" col-md-4">
                    <button
                      class=" btn btn-danger btn-block"
                      (click)="showNotification('bottom', 'right')"
                    >
                      Bottom Right
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</div>
