<div class=" content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="leftcolumn">
        <div class="card">
          <h2>Champions League 19-20</h2>
          <h5>Jun 25, 2019 - Ago 23, 2020. Edic. 65</h5>
          <div class="fakeimg">
            <div class="section" id="carousel">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg1.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Nature, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg3.jpg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Somewhere Beyond, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg4.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Yellowstone National Park, United States</h5>-->
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <br>
          <h5>Final Estádio da Luz.</h5>
          <h5>F. C. Bayern <b> 1 - 0 </b> París Saint-Germain F. C.</h5>
          <hr>
          <ul class="list-group">
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Vengonzalez
              <img class="d-block" src="../../../assets/img/theme/medallaOro.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Ildemaro14
              <img class="d-block" src="../../../assets/img/theme/medallaPlata.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Chander
              <img class="d-block" src="../../../assets/img/theme/medallaBronce.png" alt="Third slide">
            </li>
          </ul>
        </div>
      </div>
      <div class="leftcolumn">
        <div class="card">
          <h2>Champions League 20-21</h2>
          <h5>Ago 8, 2020 - May 29, 2021. Edic. 66</h5>
          <div class="fakeimg">
            <div class="section" id="carousel">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg1.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Nature, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg3.jpg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Somewhere Beyond, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg4.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Yellowstone National Park, United States</h5>-->
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <br>
          <h5>Final Estadio Olímpico Atatürk.</h5>
          <h5>Chelsea F. C. <b> 1 - 0 </b> Manchester City F. C.</h5>
          <hr>
          <ul class="list-group">
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Vengonzalez
              <img class="d-block" src="../../../assets/img/theme/medallaOro.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Ildemaro14
              <img class="d-block" src="../../../assets/img/theme/medallaPlata.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Chander
              <img class="d-block" src="../../../assets/img/theme/medallaBronce.png" alt="Third slide">
            </li>
          </ul>
        </div>
      </div>
      <div class="leftcolumn">
        <div class="card">
          <h2>Euro 2020</h2>
          <h5>Jun 11, 2021 - Jul 11, 2021. Edic. 16</h5>
          <div class="fakeimg">
            <div class="section" id="carousel">
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-12">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg1.jpg" alt="First slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Nature, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg3.jpg" alt="Second slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Somewhere Beyond, United States</h5>-->
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <img class="d-block" src="assets/img/theme/torneo/bg4.jpg" alt="Third slide">
                              <div class="carousel-caption d-none d-md-block">
                                  <!--<h5>Yellowstone National Park, United States</h5>-->
                              </div>
                            </ng-template>
                        </ngb-carousel>
                      </div>
                  </div>
              </div>
          </div>
          </div>
          <br>
          <h5>Final Wembley Stadium.</h5>
          <h5>Italia <b> 1 - 1 </b> Inglaterra / Penales <b>3 - 2</b></h5>
          <hr>
          <ul class="list-group">
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Vengonzalez
              <img class="d-block" src="../../../assets/img/theme/medallaOro.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Ildemaro14
              <img class="d-block" src="../../../assets/img/theme/medallaPlata.png" alt="Third slide">
            </li>
            <li class="list-group-item-medallas d-flex justify-content-between align-items-center logo-img-medalla">
              Chander
              <img class="d-block" src="../../../assets/img/theme/medallaBronce.png" alt="Third slide">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <!-- <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Edit Profile</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Company (disabled) </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="Creative Code Inc."
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> Username </label>
                  <input
                    class=" form-control"
                    placeholder="Username"
                    type="text"
                    value="michael23"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Email address </label>
                  <input
                    class=" form-control"
                    placeholder="mike@email.com"
                    type="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> First Name </label>
                  <input
                    class=" form-control"
                    placeholder="Company"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Last Name </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Address </label>
                  <input
                    class=" form-control"
                    placeholder="Home Address"
                    type="text"
                    value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> City </label>
                  <input
                    class=" form-control"
                    placeholder="City"
                    type="text"
                    value="Mike"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Country </label>
                  <input
                    class=" form-control"
                    placeholder="Country"
                    type="text"
                    value="Andrew"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Postal Code </label>
                  <input
                    class=" form-control"
                    placeholder="ZIP Code"
                    type="number"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-8">
                <div class=" form-group">
                  <label> About Me </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    placeholder="Here can be your description"
                    rows="4"
                    value="Mike"
                  >
Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.
</textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="upTabla">Save</button>
        </div>
        <hr>
      <div *ngIf="MostrarTabla">
        <app-dashboard></app-dashboard>
      </div>
      </div>
    </div>
    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title">Mike Andrew</h5>
            </a>
            <p class=" description">Ceo/Co-Founder</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
